<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

</head>

<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-light">
        <a class="navbar-brand" href="/main">
            <img src="http://office.golfzon.corp/Images/Images/Theme/X_portal_125/logo_header_28.png?vs=2024-02-13" />
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="top-right-container">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/login">로그인</a>
                </li>
                <li class="top-right-text" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/members/logout">로그아웃</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <li class="top-left-text" sec:authorize="isAuthenticated()">
                <button onclick="openNewWindow()">골프존기사</button>
                <script>
                    console.log("openNewWindow 함수 window에 등록");
                    window.openNewWindow = function () {
                        window.open('/crawl/news', "_blank", "width=600,height=800");
                    };
                </script>
            </li>
        </div>
    </nav>
</div>
</body>
</html>